body{
    background-color: rgba(46, 25, 95, 0.226);
}
#poster {    
    background-color: rgba(30, 54, 75, 0.083);
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
    border: 2px solid black;
    justify-content: space-between;
    border-radius: 50px;
}
#header{
    background-color: rgba(20, 29, 26, 0.105);
}
.table{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.freelancer {
    display: flex;
}
span {
    flex: 1;
    padding: 3px;
}